header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    text-indent: -999px;
    padding-left: 20px;
    line-height: 70px;
}

@media only screen and (max-width: 600px) {
    header {
        height: 50px;
    }

    .logo {
        padding-left: 10px;
        line-height: 50px;
    }
}