body {
    margin: 0;
    padding: 0;
    color: #383838;
    font-size: 1em;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow: auto;
    background: linear-gradient(to right, #C6FFDD, #FBD786, #f7797d);
}

.container {
    max-width: 62.5rem;
    margin: 1.875rem auto;
}

@media only screen and (max-width: 37.5rem) {
    .container {
        margin: 0.9375rem auto;
        padding: 0.3125rem;
    }
}
