/* convert pixels to rem */
footer {
    background: linear-gradient(to right, #C6FFDD, #FBD786, #f7797d);
    height: 3.75rem;
    width: 100%;
    border-top: 1px solid #ababab; /* Darken border color for contrast */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

@media only screen and (max-width: 37.5rem) {
    footer {
        height: 2.5rem;
    }
}
