/*
===================================================
I've lightened the background color and darkened
the text to improve visibility
==================================================
*/
.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #C6FFDD, #FBD786, #f7797d);
    height: 70px;
    width: 100%;
    border: 2px solid #ababab; /* increased border width and used darker shade for contrast */
    border-radius: 4px;
}

.btn {
    font-size: 1.2em;
    background-color: #FF5A5F;
    color: #f5f5f5; /* increased contrast */
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 20px;
}

.btn:hover {
    opacity: 80%; /* Decreased hover opacity for contrast */
}

.btn:active, .btn:focus {
    /* Added focus and active state styling for improved keyboard accessibility */
    outline: 2px solid #FF5A5F;
    background-color: #f06569;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    margin-top: 20px;
    font-weight: 600;
}

.filters h4 {
    font-weight: 400;
    font-size: 1em;
}

.filters h3, .filters h4 {
    margin-left: 1.875rem;

}

.locations .popover, .amenities .popover {
    margin-top: 1.25rem;
    display: none;
    background: linear-gradient(to right, rgb(198, 255, 221), rgb(251, 215, 134));
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.locations:hover .popover, .amenities:hover .popover{
    display: block;
}

.popover h2{
    margin-top: 1.25rem;
    font-size: 1rem;
}

.popover .strong {
    font-weight: bold;
}

.popover ul{
    margin: 1.25rem;
}

.popover li{
    margin-left: 1.25rem;
}

@media only screen and (max-width: 37.5rem) {
    .filters {
        flex-direction: column;
        height: auto;
        padding: 0.625rem;
    }

    .filters h3, .filters h4 {
        margin-left: 0.9375rem;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        margin-right: 0;
    }
}
